<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Square決済</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/ecommerce.css">
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>注文ありがとうございました</h1>
          <p>注文内容は以下になります</p>
          <div class="row">
            <dl>
              <dt>取引ID</dt>
              <dd><%= data.id %></dd>
              <dt>取引日時</dt>
              <dd><%= data.tenders[0].created_at %></dd>
              <dt>金額</dt>
              <dd><%= data.tenders[0].amount_money.amount %>(<%= data.tenders[0].amount_money.currency %>)</dd>
              <dt>種別</dt>
              <dd><%= data.tenders[0].type %></dd>
              <dt>カード情報</dt>
              <dd><%= data.tenders[0].card_details.card.card_brand %> 下4桁 <%= data.tenders[0].card_details.card.last_4 %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
